*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #40533f;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
}
.main{
    width: 350px;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
}
.jk{
    display: flex;
    padding: 20px;
    margin-top: 1rem;
}
.jk input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.jk .pria{
    margin-left: 20px;
}
.jk .wanita{
    margin-left: auto;
    margin-right: 20px;
}
.age{
    text-align: center;
}

.age input{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 1.2rem;
    padding: 5px 10px;
    text-align: center;
}
.age input:focus,.parameter input:focus{
    outline: none;
}
.parameter input{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 1.2rem;
    padding: 5px 10px;
    text-align: center;
}
.parameter{
    display: flex;
    text-align: center;
    padding: 0px 20px;
    margin-top: 0.6rem;
}
.parameter .weight{
    margin-left: auto;
}
.btn{
    text-align: center
}
.calbtn{
    background-color: #5c4a52;
    color: #fff;
    border: none;
    width: 150px;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: 15px 15px;
    border-radius: 5px;
}
.result{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    background-color: #ac97a9;
    color: #643a59;
    font-weight: 500;
    padding: 20px 0px;
    border-radius: 5px;
    display: none;
}
.comment{
    margin-top: 0.5rem;
}
.error{
    text-align: center;
    background-color: #fedfe1;
    color: #cd4243;
    margin-top: 1rem;
    padding: 15px 0px;
    border-radius: 5px;
    display: none;
}